@font-face {
    font-family: "Comfortaa", sans-serif;
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather Sans", sans-serif;
    src: url("../fonts/MerriweatherSans-VariableFont_wght.ttf")
        format("truetype");
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
