@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather Sans";
    src: url("../fonts/MerriweatherSans-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 800;
    font-style: normal;
}
