:root {
    --bg: #303030;
    --bg-dark: #454545;
    --bg-light: #dcdcdc;

    --txt: #fff;
    --txt-size: 1em;
}


body {
    color: var(--txt);
    margin: 0px;
    font-size: var(--txt-size);
}

h1 {
    font-size: calc(var(--txt-size) * 2);
}

h2 {
    font-size: calc(var(--txt-size) * 1.5);
}

h3 {
    font-size: calc(var(--txt-size) * 1.17);
}