@import url("./theme.css");
@import url("./debug.css");
@import url("./font.css");

:root {
    --padding: 1rem;
    --radius: 10px;
    --gap: 1rem;
    --text-size: 1.02em;
}

/* General */

body {
    margin: 0px;

    background-color: var(--bg);
}

* {
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;

    font-size: var(--text-size);
    color: var(--text);
}

/* Links */

a {
    color: var(--text);
    text-decoration: none;

    width: fit-content;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    transition:
        all 0.3s ease,
        font-size 0s ease;
}

a:hover {
    cursor: pointer;
}

/* Paragraphs */
p,
.fake_p {
    line-height: 1.5;

    background-color: var(--bg-light);
    padding: var(--padding);
    border-radius: var(--radius);
}

/* Headings and others text things */

h1 {
    font-size: calc(var(--text-size) * 2);
}

h2 {
    font-size: calc(var(--text-size) * 1.5);
}

h3 {
    font-size: calc(var(--text-size) * 1.17);
}

sup,
sub {
    font-size: calc(var(--text-size) / 1.5);
}

/* Responsivity */

@media (max-width: 768px) {
    h1 {
        font-size: calc(var(--text-size) * 1.5);
    }

    h2 {
        font-size: calc(var(--text-size) * 1.17);
    }

    h3 {
        font-size: calc(var(--text-size) * 1);
    }
}
